
<div class="students-table">
  <table align="center" width="100%" cellpadding="1" cellspacing="1">
  <center><b>Class Wise Ranking For Batch : <%= @batch.full_name%></b></center>
    <tr class="tr-head">
      <th>
        Rank
      </th>
      <th>
        Name
      </th>
      <th>
        Score
      </th>
      
      <th>
        Adm no.
      </th>
      <th class="col-4">

      </th>
      
      
    </tr>
    <tr>
      <td>

      </td>
      <td>

      </td>
      <td>

      </td>
      <td>

      </td>
    </tr>
		<%hash = Hash.new%>
    <% @students.each  do |std| %>
       <%marks = std.total_marks%>
       <% hash[std] = marks %>       
    <% end %>
    <%hash = hash.sort_by { |k,v| v }%>
    <% hash = hash.reverse%>
    
    <%a=0%>
    <% hash.each_with_index do |(key, value), index|%>
    <%student = key%>
      <tr class="tr-<%= cycle('odd', 'even') %>">
        <td class="col-1">
          <% if hash[index][1] == hash[index-1][1] and value != 0%>
          <%= a %>
         	<%elsif value == 0%>
         			n/a
         	<%else%>
         	<%= a += 1%>
         	<% end %> 
         	
          
        </td>

        <td class="col-2">
          <%= link_to student.full_name,:controller => "student", :action => "profile", :id => student.id %>
        </td>
                
        <td>
        		<%if value != 0%>
        		<%= "%.2f" %value %>
        		<%else%>
        			n/a
        		<%end%>
        </td>

        <td class="col-3">
          <%= student.admission_no %>
        </td>

        <td class="col-4">
          <%=  link_to 'View Profile', :controller => "student", :action => "profile", :id => student.id %>
        </td>
      </tr>
	<% end %>
  </table>
</div>
