<div id="content-header">
    <img src="/images/show_settings.png" alt="Course" />
  <h1>Hostel</h1>
  <h3>Manage Houses</h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="inner-tab-menu">
</div>


<div id="page-yield">

    <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>


    <% unless flash[:warn_notice].nil? %>
    <div id="errorExplanation" class="errorExplanation"><%= flash[:warn_notice] %> </div>
  <% end %>

 <div class="box">
<h4 align="center">Houses</h4>

<ul id="category-list">

    <% @hostels.each do |hostel| %>
      <li class="list<%=cycle('odd', 'even')%>">
        <div class="category-name"><%= hostel.house %></div>
        <div class="category-edit"><%= link_to 'Edit', edit_hostel_path(hostel.id)%></div><div class="category-delete">   <%= link_to('Delete', hostel_path(hostel.id), :method => 'delete', :confirm => 'Are you sure?')%></div>
      </li>
     <% end %>
     <div class="category-edit">
     <%= link_to 'Add House', new_hostel_path %>
     </div>
     

</ul>
  <div class="extender"></div>
  </div>
</div>
